.botonFooter {
  border-radius: 10rem;
  color: aliceblue;
  height: 40px;
  width: 300px;
  text-transform: capitalize !important;
}
.share {
  text-transform: capitalize !important;
}
@media (max-width: 575.98px) {
  .botonFooter {
    width: 150px;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .botonFooter {
    width: 250px;
  }
}
